@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@font-face
{
	font-family: 'BebasNeue';
	src: url('fonts/BebasNeue.otf');
}
@font-face
{
	font-family: 'agency_fb';
	src: url('fonts/agency_fb.ttf');
}
@font-face
{
	font-family: 'agency_fb';
	src: url('fonts/OpenSans-Bold.ttf');
}
*
{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
body
{
	background-color: #eee;
	color: #828282;
	font-size: 14px;
	margin: 0 auto;
}
.container
{
	margin: 0 auto;
	max-width: 1200px;
}
.row:before, 
.row:after
{
	clear: both;
	content: "";
	display: table;
}
[class*="col-"]
{
	float: left;
	padding: 12px;
	width: 100%;
}
.col-1
{
	width: 8.33%;
}
.col-2
{
	width: 16.66%;
}
.col-3
{
	width: 25%;
}
.col-4
{
	width: 33.33%;
}
.col-5
{
	width: 41.66%;
}
.col-6
{
	width: 50%;
}
.col-7
{
	width: 58.33%;
}
.col-8
{
	width: 66.66%;
}
.col-9
{
	width: 75%;
}
.col-10
{
	width: 83.33%;
}
.col-11
{
	width: 91.66%;
}
.col-12
{
	width: 100%;
}
.col-20
{
	width: 20%;
}
.col-40
{
	width: 40%;
}
.col-offset-1
{
	margin-left: 8.33%;
}
.col-offset-2
{
	margin-left: 16.66%;
}
.col-offset-3
{
	margin-left: 25%;
}
.col-offset-4
{
	margin-left: 33.33%;
}
.col-offset-5
{
	margin-left: 41.66%;
}
.col-offset-6
{
	margin-left: 50%;
}
.col-offset-7
{
	margin-left: 58.33%;
}
.col-offset-8
{
	margin-left: 66.66%;
}
.col-offset-9
{
	margin-left: 75%;
}
.col-offset-10
{
	margin-left: 83.33%;
}
.col-offset-11
{
	margin-left: 91.66%;
}
.col-offset-12
{
	margin-left: 100%;
}
.intro
{
	background-image: URL(img/header.jpg);
	background-position: center;
	background-size: cover;
	min-height: 500px;
}
header
{
	background-color: #252222;
	color: white;
	min-height: 100px;
	margin: 0;
	padding: 0;
}
.nav-ul {
	list-style-type: none;
	display:inline-block;
	margin-top: 40px;
	float: right;
	margin-right: 40px;
}
nav a {
	float: left;
}
nav>ul>li>a {
	padding: 0 20px;
	display: block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 18px;
	font-weight: 100;
	font-family: 'BebasNeue';
}
header>nav>ul>li>a:hover {
	    color: #65ba99;
}
nav img {
	max-height: 67px;
	width: auto;
	float: left;
	margin-top: 14px;
		
}
h1 {
	color: white;
	font-size: 90px;
	font-weight: 100;
	font-family: 'BebasNeue';
	text-align: left;
	margin-bottom: -24px;
}
.intro {
	color: white;
	text-align: left;
}
nav ul > li {
  display:inline-block;
  margin: 0;
  padding: 0;
}
.intro p {
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 90px;
	font-weight: 100;
	font-family: 'BebasNeue';
	margin-bottom: -20px;
	
}
.intro small {
	font-size: 36px;
	font-weight: 100;
	font-family: 'BebasNeue';
}
.box-title {
	text-align: left;
	margin-left: 7%;
}
.portfolio
{
	background-color: #65ba99;
	min-height: 1842px;
}
.portfolio-title {
	display: block;
	margin-bottom: 40px;
}
.portfolio h2 {
	color: white;
} 
.portfolio [class*="col-"] {
	margin: 0;
	padding: 0;
	height: 300px;
    overflow: hidden;
	background-size: cover;
    background-position: center;
}
.portfolio small {
	color: white;
	font-size: 24px;
	font-family: 'BebasNeue';
	font-weight: 100;
}
.layer {
    position: absolute;
    background: rgba(232, 69, 69, 0.6);
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 300ms linear;
}
.quotation
{
	background-image: URL(img/tlo2.jpg);
	background-position: center;
	background-size: cover;
	color: white;
	font-family: 'BebasNeue';
	font-size: 36px;
	min-height: 300px;
	text-transform: uppercase;
	
}
.box {
	max-width: 706px;
    display: inline-block;
    margin: 0 auto;
    text-align: right;
}
.quotation span {
	font-size: 70px;
	
}
.quotation small{
	font-size: 24px;
	font-family: 'BebasNeue';
	font-weight: 100;
	
}
.quotation  p{
	font-family: 'BebasNeue';
	font-weight: 100;
	margin: 0 auto;

}
.news
{
	background-color: #cdcdcd;
	min-height: 682px;
}
.text-left {
	text-align: left;
}
.news-small {
	text-align: left;
	background-color: #59a386;
	font-size: 11px;
	color: white;
	padding: 4px 30px;
}
.news-item {
    float: left;
    margin-bottom: 17px;
    margin-left: 10px;
}
.news-p3 {
	text-align: left;
    margin-left: 10px;
    color: #59a386;
    font-size: 18px;
    font-family: 'Bebas Neue', sans-serif;
}
.news-p4 {
	text-align: left;
    margin-left: 10px;
    color: #818181;
    font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
p.news-p {
	text-align: justify;
	margin-left: 10px;
}
.box-span {
	color: #252222;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.news-box {
	max-width: 402px;
	min-height: 107px;
}
.line {
	padding: 4px 17px;
	font-size: 14px;
}
.news-p1 {
	text-align: justify;
	font-size: 16px;
	font-weight: 600;
	color: #59a386;
	font-family: 'Open Sans', sans-serif;
}
a.item-class {
	color: #e2534b;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
    float: right;
}
.news-p2 {
	text-align: justify;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.news h2 {
	color: #252222;
    font-family: 'BebasNeue';
    font-size: 48px;
    font-weight: 100;
}
.brands
{
	background-color: #bebebe;
	min-height: 197px;
}
ul.social-icons {
    margin: 0;
    float: right;
    display: inline-block;
    margin-top: 27px;
}
.social-icon {
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.bio ul li {
    display: inline-block;
    padding: 0 6px;
}
.fa {
    width: 24px;
	font-size: 19px;
	height: 24px;
}
.bio a {
    text-decoration: none;
    color: #e2534b;
    height: 63px;
    line-height: 61px;
    padding: 6px;
    /* width: 59px; */
    background: white;
    border-radius: 100%;
}
a.social-icon2:hover {
    color: white;
    background-color: #a55555;
}
.social-icon2{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    /* color: black; */
}
ul.social-icons2 {
    margin: 0;
	padding: 0;
    display: inline-block;
    margin-top: 27px;
}
a.color {
	color: red;
}
a.social-icon {
    color: black;
    background-color: white;
	padding: 6px;
	border-radius: 50%;
	margin: 4px;
}
a.social-icon:hover {
    color: white;
    background-color: #a55555;
}
.brands img
{
	margin-top: 50px;
}
.bio h2
{
	color: #252222;
	font-family: 'BebasNeue';
	font-size: 48px;
	font-weight: 100;
}
.bio-h3-big
{
	font-size: 36px;
}
.bio-h3-small
{
	color: white;
	font-family: 'BebasNeue';
	font-size: 18px;
	font-weight: 100;
	margin: 0;
	margin-top: 55px;
	padding: 0;
	text-transform: uppercase;
}
.bio-h3-big
{
	font-family: 'BebasNeue';
	font-size: 36px;
	font-weight: 100;
	text-transform: uppercase;
}
.justify
{
	text-align: justify;
	padding-bottom: 24px;
}
.bio p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	max-width: 451px;
}
footer
{
	background-image: URL(img/footer.jpg);
	background-position: center;
	background-size: cover;
	margin: 0;
	min-height: 528px;
	padding-top: 56px;
}
h2
{
	color: #252222;
	font-family: 'BebasNeue';
	font-size: 48px;
	margin: 0;
	margin-top: 40px;
	text-transform: uppercase;
}
.footer-span
{
	color: white;
	font-family: "agency_fb";
	font-size: 42px;
	font-weight: bold;
	text-transform: uppercase;
}
.footer h2 {
	margin-bottom: 55px;
}
.footer-p-big	{	
	border: 4px solid white;
	color: white;
	font-family: 'BebasNeue';
	font-size: 60px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.border	{
    /* border: 4px solid white; */
    margin: 0 auto;
    /* margin-bottom: 30px; */
    margin-top: 20px;
    max-width: 699px;
}
.bio img	{
	max-width: 232px;
}
.img-responsive	{
	height: 100%;
	width: 100%;
}
footer p {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	padding-bottom: 30px;
}
.bio {
	background-color: #e2534b;
	color: white;
	min-height: 599px;
}
p.address {
	color: #ffffff;
	font-family: 'BebasNeue';
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 100px;
	text-transform: uppercase;
}
@media (max-width: 1250px) { 
	.nav img {
		margin-left: 4%;
	}
	ul.social-icons {

		margin-right: 10px;
	}
	a.nav-a {
		margin-left: 10px;
	}
}
@media screen and (max-width: 1063px) and (min-width: 845px) { 
	.portfolio [class*="col-"] {
		height: 260px;
	}
}
@media screen and (max-width: 844px) and (min-width: 721px) { 
	.portfolio [class*="col-"] {
		height: 230px;
	}
}
@media screen and (max-width: 547px) and (min-width: 380px) { 
	.portfolio [class*="col-"] {
		height: 220px;
	}
}
@media (max-width: 1023px) { 
	header {
		height: auto;
	}
	.nav img {
		margin-left: 0%;
	}
	a.nav-a {
		float: none;
		display: block;
		margin: 0 auto;
	}
	header>nav>a {
		float: none;
		display: block;
		margin: 0 auto;
	}
	nav img {
		float: none;
		margin: 0;
		margin-left: 0;
		max-height: 112px;
	}
	.nav-ul {
		float: none;
		padding: 0;
		line-height: 52px;
		margin: 0;
		margin-top: 10px;
	}
	header ul {
		
	}
	header > nav ul > li {
		display: block;
	}

}

@media (max-width: 720px) {
	.news .col-6 {
		display: block;
		width: 100%;
	}
	.border {
		margin-top: 20px;
		margin-left: 22px;
		max-width: 699px;
		margin-right: 22px;
	}
	.portfolio .col-3 {
		display: block;
		width: 50%;
	}
	.portfolio .col-6 {
		display: block;
		width: 100%;
	}
	.bio .col-6 {
		display: block;
		width: 100%;
	}
	.bio-h3-small {
		margin-bottom: 23px;
	}
	.bio p {
		margin: 0 auto;
	}
	.brands .col-3 {
		display: block;
		width: 50%;
	}
	.quotation small {
		margin-right: 5%;
	}
}
@media (max-width: 540px) {
	.portfolio .col-6 {
		display: block;
		width: 100%;
		padding: 0;
	}
	.portfolio .col-3 {
		display: block;
		width: 100%;
		padding: 0;
	}
	.news-box {
		max-width: 402px;
		min-height: 189px;
	}
	h1 {
		font-size: 70px;
		
	}
	.intro p {
		font-size: 70px;
	}
	.intro small {
		font-size: 30px;
		background-color: rgba(0, 150, 136, 0.25);
	}
}

@media (max-width: 540px) {
	.footer-p-big {
		font-size: 48px;
		font-weight: 100;
	}
}
@media (max-width: 360px) {
	.portfolio [class*="col-"] {
		height: 200px;
	}
	.brands .col-3 {
		display: block;
		width: 100%;
	}
	h1 {
		background-color: rgba(0, 150, 136, 0.25);
		margin-bottom: 0
	}
	.intro p {
		background-color: rgba(0, 150, 136, 0.25);
		margin-bottom: 0;
	}
	footer .footer-span {
		font-size: 32px;
	}
	.footer-p-big {
		border: 2px solid white;
		font-size: 41px;
	}
}